<h1>Shopping Cart</h1>
<section class="card-container">
  {{#each cartList}}
    <div class="card">
      <h1>{{this.productId.title}}</h1>
      <h3>{{this.productId.description}}</h3>
      <div class="category">
        <h5>category: {{this.productId.category}}</h5>
        <h3>Quantity: {{this.quantity}}</h3>
      </div>
<<<<<<< HEAD
      <div>
    <button class="add-cart">borrar</button>
    <button class="add-cart">-</button>1 <button class="add-cart">+</button>
    </div>
=======
      <div style="display: flex;">
        <button class="add-cart">borrar</button>
        <button class="add-cart">-</button>1
        <button class="add-cart">+</button>
      </div>
>>>>>>> 9837bf420315cf767ac328178b1565a7ca7023fb
    </div>
  {{/each}}

</section>