<section>
  <div
    style="height:100%;margin-top:50px;display:flex; flex-direction: column; justify-content: start; align-items: center;background:rgb(206, 206, 226);"
  >
    <h1 style="margin-bottom:10px">
      Olvidaste tu contraseña?
    </h1>

    <p style="margin-bottom:10px">
      Ingresa tu correo Electronico
    </p>
    <form action="/api/sessions/forgot-password" method="post">
      <input
        style="margin-bottom:10px"
        type="email"
        placeholder="ingresa tu email"
        name="email"
      />
      <br />
      <button class="delete-product">Enviar link de recuperacion</button>
    </form>
  </div>
</section>