<<<<<<< HEAD
<h1>Ingresar a tu cuenta</h1>

    <h1 style="color: rgb(53, 240, 53);">{{message}}</h1>
    <h1 style="color: rgb(240, 53, 53);">{{error}}</h1>
=======

<h1>Ingresar a tu cuenta</h1>

>>>>>>> 9837bf420315cf767ac328178b1565a7ca7023fb
<section>
<div style="display: flex; justify-content: center; align-items: start;">
    <form action="/api/sessions/login" method="post">
    
        <br><br>
        <input type="text" name="email" placeholder="ingrese su e-mail">
        <br><br>
        <input type="text" name="password" placeholder="ingrese su contraseña">
        <br><br>
        <button>Ingresar</button>
    </form>
</div>
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> 9837bf420315cf767ac328178b1565a7ca7023fb
