
<h1>Ingresar a tu cuenta</h1>

<section>
<div style="display: flex; justify-content: center; align-items: start;">
    <form action="/api/sessions/login" method="post">
    
        <br><br>
        <input type="text" name="email" placeholder="ingrese su e-mail">
        <br><br>
        <input type="text" name="password" placeholder="ingrese su contraseña">
        <br><br>
        <button>Ingresar</button>
    </form>
</div>
</section>
