<h1 style="color: rgb(53, 240, 53);">{{message}}</h1>
<h1 style="color: rgb(240, 53, 53);">{{error}}</h1>
<section style="position:relative">
  <div
    style="display: flex; flex-direction:column; justify-content: center; align-items: center;"
  >
    <h1>Ingresar a tu cuenta</h1>
    <form action="/api/sessions/login" method="post">

      <br /><br />
      <input type="text" name="email" placeholder="ingrese su e-mail" />
      <br /><br />
      <input type="text" name="password" placeholder="ingrese su contraseña" />
      <br /><br />
      <button class="delete-product">Ingresar</button>
    </form>
  </div>
</section>