<div
  style="display:flex; justify-content: center; align-items: center;background:rgb(206, 206, 226);"
>

  <h1 style="color: rgb(31, 115, 31); ">{{message}}
  </h1>
  <a href="/api/sessions/logout" class="logout">logout</a>

</div>
<section>

  <h2>Opten las ultimas promociones y gana muchos premios</h2>
  <div class="image-container">

    <img
      src="https://www.clarin.com/img/2011/12/12/SylI_hl0Qe_1256x620.jpg"
      alt="tecnology"
    />
  </div>
</section>