<h1>Socket IO</h1>
<div style="display:grid; grid-template-columns: 1fr 1fr;">

  <section class="formulario" id="socket" style="margin-bottom: 30px;">

    <form id="realtime-form">
      <h1>Agregar Producto</h1>
      <label for="title">Titulo</label><br />
      <input
        type="text"
        placeholder="Ingrese titulo del articulo"
        name="title"
        id="title"
      />
      <br /><br />
      <label for="description">descripcion</label><br />
      <input
        type="text"
        placeholder="breve descripcion"
        name="description"
        id="description"
      />
      <br /><br />
      <label for="price">precio</label><br />
      <input type="text" placeholder="Ingrese precio" name="price" id="price" />
      <br /><br />
      <label for="category">categoria</label><br />
      <input
        type="text"
        placeholder="Ingrese categoria"
        name="category"
        id="category"
      />
      <br /><br />
      <label for="code">codigo de referencia</label><br />
      <input
        type="text"
        placeholder="Ingrese codigo de referencia"
        name="code"
        id="code"
      />
      <br /><br />
      <label for="stock">cantidad</label><br />
      <input
        type="text"
        placeholder="Ingrese cantidad"
        name="stock"
        id="stock"
      />
      <br /><br />
      <input type="file" name="" id="" />
      <br /><br />
      <button onclick="submit">Agregar producto</button>
    </form>

  </section>
  <div style="border-left: rgb(95, 95, 95) solid 1px; margin-bottom: 20px;">
    <h2>Listado de productos</h2>
    <div class="card-container" id="productContainer">
    </div>
  </div>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="js/realTime.js"></script>