<section>
  <div
    style="height:100%;margin-top:50px;display:flex; flex-direction: column; justify-content: start; align-items: center;background:rgb(206, 206, 226);"
  >

    <h1 style="margin-bottom:10px">
      Ingresa tu nueva contraseña
    </h1>
    <p style="color:red"> {{error}}</p>
    <form action="/api/sessions/reset-password?token={{token}}" method="post">
      <input
        style="margin-bottom:10px"
        type="password"
        placeholder="nueva contraseña"
        name="password"
      />
      <br />
      <button class="delete-product">Restablecer contraseña</button>
    </form>
  </div>
</section>