<h1>registro de usuarios</h1>

<h1 style="color: rgb(240, 53, 53);">{{error}}</h1>
<section>

  <div
    style="display: flex;flex-direction: column; justify-content: start; align-items: center;"
  >
    <form
      action="/api/sessions/register"
      method="post"
      style="display: flex;flex-direction: column;align-items: center;"
    >
      <input type="text" name="name" placeholder="ingrese su nombre" />
      <br />
      <input type="text" name="email" placeholder="ingrese su e-mail" />
      <br />
      <input type="text" name="password" placeholder="ingrese su contraseña" />
      <br />
      <button class="signup-button" style="margin-bottom: 10px;">registrar
        usuario</button>

    </form>
    <div>
      <a href="/api/sessions/signup-github">

        <button class="github-button">Registrarse con GitHub
          <img
            src="/images/github.png"
            alt="github"
            class="github-icon"
          /></button>
      </a>
    </div>
  </div>

</section>