<h1>registro de usuarios</h1>

<h1 style="color: rgb(240, 53, 53);">{{error}}</h1>
<section>

  <div style="display: flex; justify-content: center; align-items: start;">
    <form action="/api/sessions/register" method="post">
      <input type="text" name="name" placeholder="ingrese su nombre" />
      <br /><br />
      <input type="text" name="email" placeholder="ingrese su e-mail" />
      <br /><br />
      <input type="text" name="password" placeholder="ingrese su contraseña" />
      <br /><br />
      <button>registrar usuario</button>
    </form>
    <a href="/api/sessions/signup-github">

      <button>Registrarse con GitHub <i class="fab fa-github"></i></button>
    </a>

    <p>Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a></p>
  </div>
</section>