<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>

      <a href="http://localhost:3000/">Home</a>
      <a href="http://localhost:3000/agregar">Agregar</a>
      <a href="http://localhost:3000/profile">Perfil</a>

    </nav>
    {{{body}}}
    <footer class="footer">Pie de pagina</footer>
    <script src="/js/home.js"></script>
  </body>
</html>