<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>

      <a href="http://localhost:3000/">Lista</a>
      <a href="http://localhost:3000/products">Products</a>
      <a href="http://localhost:3000/agregar">Agregar con http</a>
      <a href="http://localhost:3000/cart">Cart</a>
      <a href="http://localhost:3000/realtimeproducts">real Time</a>
      <a href="http://localhost:3000/signup">registrarse</a>
      <a href="http://localhost:3000/login">Ingresar</a>
      {{! <a href="http://localhost:3000/messages">Chat</a> }}

    </nav>
    {{{body}}}
    <footer class="footer">Pie de pagina</footer>

  </body>
</html>