<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>

      <a href="/">Lista</a>
      <a href="/products">Products</a>
      <a href="/agregar">Agregar con http</a>
      <a href="/cart">Cart</a>
      <a href="/realtimeproducts">real Time</a>
      <a href="/signup">registrarse</a>
      <a href="/login">Ingresar</a>
      <a href="/profile">Perfil</a>
      <a href="/messages">Chat</a>

    </nav>
    {{{body}}}
    <footer class="footer">Pie de pagina</footer>

  </body>
</html>