<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>

      <a href="http://localhost:3000/">Lista</a>
      <a href="http://localhost:3000/agregar">Agregar con http</a>
      <a href="http://localhost:3000/realtimeproducts">real Time</a>

    </nav>
    {{{body}}}
    <footer class="footer">Pie de pagina</footer>

  </body>
</html>